<%- include("header") %>
<h1>About Us</h1>
<div class="text" style="text-align: center;">
    <p>This is the about us page</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex consequatur rem aperiam qui adipisci consectetur sed tempora quo velit quisquam!z</p>
</div>


<%- include("footer") %>